<div class="color-wrapper">
  <p>Choose color (#hex)</p>


  <input type="text" name="custom_color"
         placeholder="#ffffff" id="pickcolor" class="call-picker"
         [(ngModel)]=" '#' + colorPicker">
  <div class="color-holder call-picker" [style.backgroundColor]="'#' +colorPicker"></div>
  <div class="color-picker" id="color-picker">
    <li *ngFor="let color of colorList"
        [style.backgroundColor]="'#' + color"
        class="color-item"
        (click)="pickColor(color)"></li>
  </div>
</div>



