<!-- <h1>Cập nhật thông tin KH</h1>-->
<!--<form [formGroup]="customerForm" (ngSubmit)="updateCustomer(id)" *ngIf="customerForm">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Mã KH:</td>-->
<!--      <td><input type="number" formControlName="id"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Tên KH:</td>-->
<!--      <td><input type="text" formControlName="hoTen"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Ngay Sinh</td>-->
<!--      <td><input type="text" formControlName="ngaySinh"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Gioi tinh</td>-->
<!--      <td><input type="text" formControlName="gioiTinh"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>CMND</td>-->
<!--      <td><input type="text" formControlName="soCMND"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>SDT:</td>-->
<!--      <td><input type="text" formControlName="soDienThoai"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Email</td>-->
<!--      <td><input type="text" formControlName="email"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Loai Khach</td>-->
<!--      <td><input type="text" formControlName="loaiKhach"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Dia chi</td>-->
<!--      <td><input type="text" formControlName="diaChi"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td>-->
<!--        <button>Cap nhap</button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form> -->

<div class="container">
  <div class="row">
    <div class="col-3"></div>

    <div class="col-6 container1 body-form">
      <h1 style="text-align: center; margin-top:20px"><b>Cập nhập khách hàng</b></h1>
      <form [formGroup]="customerForm" (ngSubmit)="updateCustomer(id)" *ngIf="customerForm">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Mã khách hàng
                <input type="number" formControlName="id" class="form-control"/>
              </label>
            </div>

          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Họ tên
                <input type="text" formControlName="hoTen" class="form-control"/>
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Ngày sinh
                <input type="date" formControlName="ngaySinh" class="form-control"/>
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">

              <label class="form-label">
                Giới tính
                <input type="text" formControlName="gioiTinh" class="form-control"/>
              </label>

              <div class="form-check">
                <input class="form-check-input" formControlName="gioiTinh" value="Nam" type="radio" name="flexRadioDefault" id="flexRadioDefault1" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Nam
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" formControlName="gioiTinh" value="Nữ" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                <label class="form-check-label" for="flexRadioDefault2">
                  Nữ
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Số CMND
                <input type="text" formControlName="soCMND" class="form-control"/>
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Số điện thoại
                <input type="text" formControlName="soDienThoai" class="form-control"/>
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Email
                <input type="text" formControlName="email" class="form-control"/>
              </label>

            </div>
          </div>
          <div class="col">
            <div class="form-outline">

              <label class="form-label">
                Loại khách
                <input type="text" formControlName="loaiKhach" class="form-control"/>
              </label>
            </div>

          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <label class="form-label">
                Địa chỉ
                <input type="text" formControlName="diaChi" class="form-control"/>
              </label>

            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label" >
                Mã khách hàng
                <input type="text"  formControlName="maKh" class="form-control" />
              </label>
            </div>
          </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-outline-success btn-block mb-4" [disabled]="customerForm.invalid">Update</button>

      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>


