<div class="container">
    <div class="row">
      <div class="col-3"></div>

      <div class="col-6 container1 body-form">
        <h1 style="text-align: center; margin-top:20px"><b>Thêm mới khách hàng</b></h1>
        <form [formGroup]="customerForm" (ngSubmit)="submit()">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Mã khách hàng
                  <input type="number" formControlName="id" class="form-control" />
                </label>
              </div>

            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Họ tên
                  <input type="text"  formControlName="hoTen" class="form-control" />
                </label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Ngày sinh
                  <input type="date" formControlName="ngaySinh" class="form-control" />
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label>
                  Giới tính :
                  <div>
                    <span> <input class="form-check-input" formControlName="gioiTinh" value="Nam" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Nam
                    </label></span>
                    <span> <input class="form-check-input" formControlName="gioiTinh" value="Nữ" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      Nữ
                    </label></span>
                  </div>

                </label>


<!--                <label class="form-label" >-->
<!--                  Giới tính-->
<!--                  <input type="text"  formControlName="gioiTinh"  class="form-control" />-->
<!--                </label>-->
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Số CMND
                  <input type="text"  formControlName="soCMND"  class="form-control" />
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Số điện thoại
                  <input type="text"  formControlName="soDienThoai"  class="form-control" />
                </label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Email
                  <input type="text"  formControlName="email"  class="form-control" />
                </label>

              </div>
            </div>
            <div class="col">
              <div class="form-outline">

                <label class="form-label" >
                  Loại khách
                  <input type="text"  formControlName="loaiKhach"  class="form-control" />
                </label>
              </div>

            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" >
                  Địa chỉ
                  <input type="text"  formControlName="diaChi"  class="form-control" />
                </label>

              </div>
            </div>
            <div class="col">
            </div>
          </div>

        <!-- Submit button -->
        <button class="btn btn-outline-success btn-block mb-4" [disabled]="customerForm.invalid">Create</button>
        <button type="reset" class="btn btn-dark btn-block mb-4">Reset</button>

        </form>
      </div>

      <div class="col-3"></div>

    </div>
  </div>
