#mu-page-header {
  background-image: url("https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/206415457.jpg?k=6f3f8436fc8d0805452922ea7a5da77533483539155db36a9b9f7b03c39af298&o=&hp=1");
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}

#mu-page-header::before {
  background-color: #ebebeb;
  bottom: 0;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.60;
  z-index: 10;
}

.mu-page-header-area {
  display: inline;
  float: left;
  padding: 150px 0;
  width: 100%;
  position: relative;
  z-index: 20;
}

.mu-page-header-title {
  color: #323232;
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0;
}
