#mu-clients {
  background-color: #f6f6f6;
  display: inline;
  float: left;
  width: 100%;
}

.mu-clients-area {
  display: inline;
  float: left;
  padding: 70px 0;
  width: 100%;
  text-align: center;
}

.mu-clients-slider {
  display: inline;
  float: left;
  width: 100%;
}

.mu-clients-single {
  display: inline;
  float: left;
}

.mu-clients-slider .slick-next {
  right: -40px;
}

.mu-clients-slider .slick-prev {
  left: -60px;
}

.mu-clients-slider .slick-prev,
.mu-clients-slider .slick-next {
  background-color: transparent;
}
