<div class="container">
  <h1 style="text-align: center;margin-top: 20px"><a routerLink="/customer/list">Danh sách customer</a></h1>


  <div style="margin-bottom: 20px">
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search customer..." required>
    </form>
  </div>
  <p><a routerLink="/customer/create">
    <mat-icon>add</mat-icon>
  </a></p>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Họ tên</th>
      <th>Mã khách hàng</th>
      <th>Ngày sinh</th>
      <th>Giới Tính</th>
      <th>CMND</th>
      <th>Số Điện Thoại</th>
      <th>Email</th>
      <th>Loại Khách</th>
      <th>Địa chỉ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers | paginate : {
    itemsPerPage : 10 , currentPage: page,totalItems:totalLength}; index as i">
      <td>{{i + 1}}</td>
      <td>{{customer.hoTen}}</td>
      <td>{{customer.maKh}}</td>
      <td>{{customer.ngaySinh }}</td>
      <td>{{customer.gioiTinh}}</td>
      <td>{{customer.soCMND}}</td>
      <td>{{customer.soDienThoai}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.loaiKhach}}</td>
      <td>{{customer.diaChi}}</td>

      <td><a [routerLink]="['/customer/edit',customer.id]">
        <mat-icon>edit</mat-icon>
      </a></td>

      <!--      </td>-->
      <!--             <td><a [routerLink]="['/customer/delete',customer.id]" > <mat-icon>delete</mat-icon></a></td>-->
      <td>
        <a style="cursor: pointer" (click)="openDialog(customer)">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </tr>


    </tbody>
  </table>
  <p style="text-align: center">
    <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
  </p>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--        Bạn có muốn xóa khách hàng có tên là : {{customerr.hoTen}}-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--        <button type="button" class="btn btn-primary">-->
        <!--          <a [routerLink]="['/customer/delete',customerr.id]" > <mat-icon>delete</mat-icon></a>-->
        <!--        </button>-->
      </div>
    </div>
  </div>
</div>

