<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/193212109.jpg?k=c66cc1dff1aa9c788fb545823578f0939e7921bd5867de6f278d9548521aaf1c&o="></image>
          </svg>

          <div class="card-body">
            <h3>Deluxe Double Room</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This double room has a soundproofing, seating area and minibar.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$600/day</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/298105284.jpg?k=65e86777ddddeb3f7d9e421ae17c87f152a817319e375531070eed8feef382e4&o="></image>
          </svg>

          <div class="card-body">
            <h3>Superior Double Room</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This double room has a seating area, air conditioning and cable TV.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$850/day</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/193215485.jpg?k=6cc9982132501585485c09dff900a32ceeeeafef84e541f1b7bce4eb22b6f543&o="></image>
          </svg>

          <div class="card-body">
            <h3>Suite - Ocean Front</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This suite has a sea view, soundproofing and tumble dryer</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$1100/day</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/192862647.jpg?k=a659c171f2e3dcfdc0a0d7aacd89e1a767aa19445487e2b01cd95fa4918a7909&o="></image>
          </svg>

          <div class="card-body">
            <h3>Executive Suite - Ocean Front</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This suite features a electric kettle, bathrobe and soundproofing.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$1050/day</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/193212109.jpg?k=c66cc1dff1aa9c788fb545823578f0939e7921bd5867de6f278d9548521aaf1c&o="></image>
          </svg>

          <div class="card-body">
            <h3>Deluxe Double Room</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This double room has a soundproofing, seating area and minibar.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$600/day</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/298105284.jpg?k=65e86777ddddeb3f7d9e421ae17c87f152a817319e375531070eed8feef382e4&o="></image>
          </svg>

          <div class="card-body">
            <h3>Superior Double Room</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This double room has a seating area, air conditioning and cable TV.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$850/day</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/193215485.jpg?k=6cc9982132501585485c09dff900a32ceeeeafef84e541f1b7bce4eb22b6f543&o="></image>
          </svg>

          <div class="card-body">
            <h3>Suite - Ocean Front</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This suite has a sea view, soundproofing and tumble dryer</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$1100/day</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/192862647.jpg?k=a659c171f2e3dcfdc0a0d7aacd89e1a767aa19445487e2b01cd95fa4918a7909&o="></image>
          </svg>

          <div class="card-body">
            <h3>Executive Suite - Ocean Front</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This suite features a electric kettle, bathrobe and soundproofing.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$1050/day</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <image width="100%" height="100%"
                   xlink:href="https://t-cf.bstatic.com/xdata/images/hotel/max1024x768/192862647.jpg?k=a659c171f2e3dcfdc0a0d7aacd89e1a767aa19445487e2b01cd95fa4918a7909&o="></image>
          </svg>

          <div class="card-body">
            <h3>Executive Suite - Ocean Front</h3>
            <p class="card-text">Comfy beds, 9.6 – Based on 24 reviews
              This suite features a electric kettle, bathrobe and soundproofing.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-trash-alt"></i></button>
              </div>
              <small class="text-muted">$1050/day</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
